<h1>Advanced Data Science Capstone Project</h1>

<h1>Vaccination against COVID vs. New Cases of COVID</h1>
<h2>(Initial Data Exploration)</h2>

<h2>Data Case and Data Set</h2>

The use case for this project is analysis of the progress of vaccination against COVID in the world and new cases of COVID. The data set is Data on COVID-19 (coronavirus) by Our World in Data (https://github.com/owid/covid-19-data/tree/master/public/data) which contains data for every country and for the whole world taken from official sources. The goals of my project are: 1) to analyze how the progress of vaccination reduces the number of new cases of COVID; 2) to make a prognosis when the whole population of the world will be vaccinated.

<h2>Initial Data Exploration</h2>

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
%matplotlib inline

In [2]:
#downloading data
!wget -O owid-covid-data.csv https://covid.ourworldindata.org/data/owid-covid-data.csv

--2022-01-15 23:01:21--  https://covid.ourworldindata.org/data/owid-covid-data.csv
Resolving covid.ourworldindata.org (covid.ourworldindata.org)... 104.21.233.137, 104.21.233.138, 2606:4700:3038::6815:e98a, ...
Connecting to covid.ourworldindata.org (covid.ourworldindata.org)|104.21.233.137|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘owid-covid-data.csv’

owid-covid-data.csv     [       <=>          ]  41.50M  5.57MB/s    in 8.1s

2022-01-15 23:01:30 (5.13 MB/s) - ‘owid-covid-data.csv’ saved [43520713]

In [3]:
#read data
df_raw=pd.read_csv("owid-covid-data.csv")
df_raw.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
#getting information about the dataset
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154683 entries, 0 to 154682
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    154683 non-null  object
 1   continent                                   145377 non-null  object
 2   location                                    154683 non-null  object
 3   date                                        154683 non-null  object
 4   total_cases                                 151890 non-null  float64
 5   new_cases                                   151844 non-null  float64
 6   new_cases_smoothed                          150693 non-null  float64
 7   total_deaths                                134569 non-null  float64
 8   new_deaths                                  134742 non-null  float64
 9   new_deaths_smoothed                         134610 non-null  float64
 10  total_cases_per_million                     151182 non-null  float64
 11  new_cases_per_million                       151136 non-null  float64
 12  new_cases_smoothed_per_million              149990 non-null  float64
 13  total_deaths_per_million                    133874 non-null  float64
 14  new_deaths_per_million                      134047 non-null  float64
 15  new_deaths_smoothed_per_million             133915 non-null  float64
 16  reproduction_rate                           116450 non-null  float64
 17  icu_patients                                20397 non-null   float64
 18  icu_patients_per_million                    20397 non-null   float64
 19  hosp_patients                               21564 non-null   float64
 20  hosp_patients_per_million                   21564 non-null   float64
 21  weekly_icu_admissions                       4294 non-null    float64
 22  weekly_icu_admissions_per_million           4294 non-null    float64
 23  weekly_hosp_admissions                      8694 non-null    float64
 24  weekly_hosp_admissions_per_million          8694 non-null    float64
 25  new_tests                                   61107 non-null   float64
 26  total_tests                                 62746 non-null   float64
 27  total_tests_per_thousand                    62746 non-null   float64
 28  new_tests_per_thousand                      61107 non-null   float64
 29  new_tests_smoothed                          74451 non-null   float64
 30  new_tests_smoothed_per_thousand             73744 non-null   float64
 31  positive_rate                               69532 non-null   float64
 32  tests_per_case                              68875 non-null   float64
 33  tests_units                                 75945 non-null   object
 34  total_vaccinations                          40083 non-null   float64
 35  people_vaccinated                           38352 non-null   float64
 36  people_fully_vaccinated                     35521 non-null   float64
 37  total_boosters                              13042 non-null   float64
 38  new_vaccinations                            33191 non-null   float64
 39  new_vaccinations_smoothed                   73319 non-null   float64
 40  total_vaccinations_per_hundred              40083 non-null   float64
 41  people_vaccinated_per_hundred               38352 non-null   float64
 42  people_fully_vaccinated_per_hundred         35521 non-null   float64
 43  total_boosters_per_hundred                  13042 non-null   float64
 44  new_vaccinations_smoothed_per_million       73319 non-null   float64
 45  new_people_vaccinated_smoothed              72348 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  72348 non-null   float64
 47  stringency_index                            120990 non-null  float64
 48  population                                  153658 non-null  float64
 49  population_density                          137696 non-null  float64
 50  median_age                                  128366 non-null  float64
 51  aged_65_older                               126972 non-null  float64
 52  aged_70_older                               127677 non-null  float64
 53  gdp_per_capita                              128922 non-null  float64
 54  extreme_poverty                             85000 non-null   float64
 55  cardiovasc_death_rate                       127363 non-null  float64
 56  diabetes_prevalence                         134016 non-null  float64
 57  female_smokers                              98767 non-null   float64
 58  male_smokers                                97347 non-null   float64
 59  handwashing_facilities                      63792 non-null   float64
 60  hospital_beds_per_thousand                  115181 non-null  float64
 61  life_expectancy                             144372 non-null  float64
 62  human_development_index                     126838 non-null  float64
 63  excess_mortality_cumulative_absolute        5234 non-null    float64
 64  excess_mortality_cumulative                 5234 non-null    float64
 65  excess_mortality                            5234 non-null    float64
 66  excess_mortality_cumulative_per_million     5234 non-null    float64
dtypes: float64(62), object(5)
memory usage: 79.1+ MB

In [5]:
df_raw.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.518900e+05,1.518440e+05,1.506930e+05,1.345690e+05,134742.000000,134610.000000,151182.000000,151136.000000,149990.000000,133874.000000,...,98767.000000,97347.000000,63792.000000,115181.000000,144372.000000,126838.000000,5.234000e+03,5234.000000,5234.000000,5234.000000
mean,2.173590e+06,8.959118e+03,8.752216e+03,5.337774e+04,170.277657,169.670269,23945.515487,116.247465,111.998075,463.245222,...,10.624167,32.764852,50.808965,3.028408,73.583597,0.725825,3.479999e+04,9.011418,16.175762,857.853331
std,1.288762e+07,5.842173e+04,5.363848e+04,2.805078e+05,829.894430,810.210018,39129.368153,442.093477,300.107864,729.438132,...,10.554026,13.515827,31.812476,2.451979,7.496422,0.149983,9.949991e+04,16.669961,31.091730,1283.239325
min,1.000000e+00,-7.434700e+04,-6.223000e+03,1.000000e+00,-1918.000000,-232.143000,0.001000,-3125.829000,-272.971000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-3.195940e+04,-28.450000,-95.920000,-1745.051271
25%,1.613000e+03,1.000000e+00,6.000000e+00,6.900000e+01,0.000000,0.143000,523.100750,0.025000,1.462000,16.069000,...,1.900000,21.600000,19.351000,1.300000,69.500000,0.602000,-9.752500e+01,-0.870000,-0.520000,-37.856745
50%,2.133000e+04,7.100000e+01,9.471400e+01,6.890000e+02,2.000000,2.286000,4074.265500,10.218500,16.246000,107.847000,...,6.300000,31.400000,49.839000,2.400000,75.050000,0.743000,2.580050e+03,5.505000,7.205000,401.789828
75%,2.602920e+05,9.420000e+02,9.928570e+02,6.557000e+03,19.000000,20.143000,31427.349250,88.553000,101.416500,630.972000,...,19.300000,41.300000,83.241000,4.000000,78.930000,0.845000,2.147995e+04,13.887500,22.687500,1456.137413
max,3.235679e+08,3.701643e+06,2.879155e+06,5.529524e+06,18062.000000,14704.857000,386379.502000,51427.491000,9241.954000,6092.883000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,1.043824e+06,115.000000,374.340000,7912.067517

In [6]:
df_raw.isnull().sum()

iso_code                                        0
continent                                    9306
location                                        0
date                                            0
total_cases                                  2793
                                            ...
human_development_index                     27845
excess_mortality_cumulative_absolute       149449
excess_mortality_cumulative                149449
excess_mortality                           149449
excess_mortality_cumulative_per_million    149449
Length: 67, dtype: int64

In [7]:
df_raw['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [8]:
df_raw['location'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Asia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Cayman Islands', 'Central African Republic', 'Chad', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'European Union',
       'Faeroe Islands', 'Falkland Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guatemala', 'Guernsey', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High income', 'Honduras', 'Hong Kong', 'Hungary',
       'Iceland', 'India', 'Indonesia', 'International', 'Iran', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jersey', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo',
       'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Low income',
       'Lower middle income', 'Luxembourg', 'Macao', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Macedonia', 'Northern Cyprus', 'Norway',
       'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Pitcairn',
       'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Helena', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Tokelau',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Upper middle income', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Wallis and Futuna',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [9]:
#creating dataset that will contain only columns that will be used in this project 
df = df_raw[['location','date','total_cases','new_cases','total_deaths','new_deaths','icu_patients',
                     'hosp_patients','total_vaccinations','people_vaccinated','people_fully_vaccinated',
                     'total_boosters','new_vaccinations','population']]
df.head()

,location,date,total_cases,new_cases,total_deaths,new_deaths,icu_patients,hosp_patients,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,population
0,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0
1,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0
2,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0
3,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0
4,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39835428.0

In [10]:
#saving new dataset
df.to_csv("covid-data.csv")

This dataset contains data for all the countries, continents, and the world in whole. Although it needs some data cleansing since it contains NaNs, I will do this later, after I extract data for the whole world and for some individual countries. I do not deal with NaNs now because they will be corrected in different ways, depending on where they occur.